*.py[cod]
__pycache__
.pytest_cache/
*.egg-info
pip-wheel-metadata
.env
archive/
.idea/

tags
*~
*.sw[op]
.vscode
.idea
.DS_Store

.coverage
coverage.xml


terraform.tfvars
.terraform/
*.tfstate*
.ignore/
.python-version

.Rproj.user
.Rhistory
*.Rproj

/backend/.logs
